<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- META START -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{!-- Page Title --}}
        {{#if post}}<title>{{meta_title}} - {{@blog.title}}</title>
        {{else if author}}<title>More article by this Author - {{#author}}{{name}}{{/author}}</title>
        {{else}}<title>{{@blog.title}} - {{@blog.description}}</title>{{/if}}

        {{!-- Page Description --}}
        {{#if post}}<meta name="description" content="{{#post}}{{excerpt words=30}}{{/post}}">
	{{else if author}}<meta name="description" content="{{#author}}{{bio}}{{/author}}">
	{{else}}<meta name="description" content="{{meta_description}}">
        {{/if}}

        <!-- Ghost Head START -->
        {{ghost_head}}

        <!-- UI Component START -->
	<link rel="stylesheet" type="text/css" href="{{asset "css/bulma.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/hkzclarity.css"}}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet'  href='https://fonts.googleapis.com/css?family=Lato' type='text/css' media='all' />

    </head>

    <body class="{{body_class}}">
        <div id="header-navigation">
            <div class="nav container">
                <div class="nav-left">
                    <a class="nav-item" href="{{@blog.url}}">
			{{#if @blog.logo}}
                        <img id="header-logo" src="{{@blog.logo}}" alt="logo">
			{{else}}
                        <h2 id="header-logo">{{@blog.title}}</h2>
			{{/if}}
                    </a>
                </div> <!-- .nav-left -->

                <div class="nav-right">
		<input id="toggle-head-nav" type="checkbox">
		<label for="toggle-head-nav" class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </label> <!-- #toggle-head-nav.nav-toggle -->
                    <div id="header-nav-collapse">
                    {{!-- Site Navigation --}}
		    {{navigation}}
                    </div>
                </div> <!-- .nav-right -->

            </div> <!-- .container -->
        </div> <!-- #header-navigation -->

	{{!-- Site Content Wrapper --}}
	{{{body}}}

        {{#if post}}
        <!-- UX Component START -->
	<!-- DISQUS Tracker -->
	<script id="dsq-count-scr" src="your.disqus.count-script.url" async></script>

	<!-- PRISM JS -->
	<script src="{{asset "js/prism.js"}}"></script>
        <!-- UX Component END -->
	{{/if}}

	{{#if ghost_foot}}
        <!-- Ghost Foot START -->
        {{ghost_foot}}
        <!-- Ghost Foot END -->
        {{/if}}

        <footer>
            <div class="content-block center-block">
                <h2 class="is-hidden-mobile">{{@blog.description}}</h2>
                <div id="footnote" class="columns is-gapless">
                    <span id="copyright-note" class="column">Copyright &copy; 2017, <a href="/">{{@blog.title}}</a></span>
                    <span id="engine-note" class="column">Proudly Published with <a href="https://ghost.org/">Ghost</a></span>
                </div> <!-- #footnote.column -->
            </div><!-- .content-block.center-block -->
        </footer>

    </body> <!-- END OF BODY CONTENT -->
</html>

